:root {
    --eggshell: #f4f1de;
    --burnt-sienna: #e07a5f;
    --delft-blue: #3d405b;
    --cambridge-blue: #81b29a;
    --sunset: #f2cc8f;
    --highlight: #70a452;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#goal-tactics {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 10%;
    background-color: var(--eggshell);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#proof {
    position: fixed;
    left: 0%;
    top: 10%;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proof-case {
    flex-grow: 1;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.goals {
    height: 20vh;
    background-color: var(--sunset);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.primitive-type {
    width: 7vh;
    height: 7vh;
    border-radius: 8px;
    pointer-events: none;
}

.compound-type {
    border: 2px solid black;
    font-size: xx-large;
    display: inline-flex;
    padding: 3px;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.type {
    margin: 9px;
    user-select: none;
    border: 8px solid transparent;
    border-radius: 16px;
}

.primitive-type-highlight {
    margin: 9px;
    user-select: none;
    border: 8px solid var(--highlight);
    border-radius: 16px;
}

.compound-type-highlight {
    margin: 9px;
    user-select: none;
    border: 8px solid var(--highlight);
}

.p {
    background-color: var(--burnt-sienna);
}

.q {
    background-color: var(--delft-blue);
}

.r {
    background-color: var(--cambridge-blue);
}

.bottom {
    background-color: darkgray;
}

.terms {
    height: 60vh;
    background-color: var(--eggshell);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.term {
    margin: 9px;
    user-select: none;
    border: 8px solid transparent;
    border-radius: 16px;
}

.primitive-term-highlight {
    margin: 9px;
    user-select: none;
    border: 8px solid var(--highlight);
    border-radius: 16px;
}

.compound-term-highlight {
    margin: 9px;
    user-select: none;
    border: 8px solid var(--highlight);
}

#term-tactics {
    position: fixed;
    left: 0%;
    top: 90%;
    width: 100%;
    height: 10%;
    background-color: var(--sunset);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tactic {
    margin: 9px;
    padding: 0px;
    width: 8vh;
    height: 8vh;
    font-size: 6vh;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.tactic:active {
    cursor: grabbing;
}

.complete {
    font-size: 8vh;
}

.settings-button {
    width: 24px;
    margin: 2px;
    cursor: pointer;
}

#header {
    position: fixed;
    z-index: 10;
    width: 30%;
}

#level-num {
    font-size: x-large;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#instructions {
    position: fixed;
    left: 20%;
    top: 35%;
    width: 60%;
    height: fit-content;
    background-color: color-mix(in srgb, var(--sunset), transparent 15%);
    backdrop-filter: blur(2px);
    font-size: x-large;
    text-align: center;
    border: solid 5px black;
    border-radius: 16px;
    padding: 30px;
    box-sizing: border-box; /* https://stackoverflow.com/questions/779434/how-do-i-prevent-the-padding-property-from-changing-width-or-height-in-css */
    cursor: pointer;
}

#footer {
    position: fixed;
    top: 100%;
    transform: translateY(-100%);
}

/* https://stackoverflow.com/a/61812377/344223 */
[draggable="true"] {
    position: relative;
    z-index: 1;
}